<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime enableVersionHeader="false"  /> <!-- [SEC]: Disable version header -->
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" /> <!-- [SEC]: Disable powered by header -->
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering removeServerHeader="true" /> <!-- [SEC]: Remove server header -->
        </security>
    </system.webServer>
    <appSettings>
        
    </appSettings>
</configuration>
